name: CI

on:
  push:
    branches:
    - main
    paths-ignore:
    - .editorconfig
    - .gitattributes
    - .gitignore
    - .prettierignore
    - README.md
    - nodemon.json

jobs:
  verify:
    name: Verify
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        cache: npm
        cache-dependency-path: package-lock.json
        node-version: 20
    - name: Install dependencies
      run: npm ci
    - name: Check formatting
      run: npm run fmt:check
    - name: Lint code
      run: npm run lint
    - name: Run unit tests
      run: npm test

  build:
    name: Build
    needs: [ verify ]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        cache: npm
        cache-dependency-path: package-lock.json
        node-version: 20
    - name: Install dependencies
      run: npm ci
    - name: Build Chrome extension
      run: npm run build

  prepare_release:
    name: Prepare release
    needs: [ build ]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - name: Prepare a release
      uses: google-github-actions/release-please-action@v3
      with:
        bump-minor-pre-major: true # TODO(unfunco): Remove before v1.0.0.
        changelog-types: '[{"type":"feat","section":"Features","hidden":false},{"type":"fix","section":"Fixes","hidden":false},{"type":"chore","section":"Miscellaneous","hidden":false}]'
        labels: |
          automata 
          autorelease: pending
          chore 完
        package-name: '@unfunco/chrome-ext-aws-saml-sts'
        prerelease: true # TODO(unfunco): Remove before v1.0.0.
        pull-request-header: ':robot: I have created a release'
        pull-request-title-pattern: 'chore: Release extension v${version}'
        release-as: v0.1.0 # TODO(unfunco): Remove after the first release is merged.
        release-labels: |
          automata 
          autorelease: tagged
          chore 完
        release-type: node
